{% extends 'blog/blog.html.twig' %}

{% block title %}Lecture{% endblock %}

{% block h1 %}
    Lecture d'article
{% endblock %}

{% block menu %}
    {{ parent() }}
    <a href="{{ path('blog_edit', {'idArticle': '42'}) }}">Modifier</a>
    <a href="{{ path('blog_delete', {'idArticle': '42'}) }}">Supprimer</a>
{% endblock %}

{% block content_blog %}
    <h2>Tire de l'article</h2>
    <h3>Auteur</h3>
    <h4>Date de création / dernière modif</h4>
    <p>Ius adversarium bibendum taciti aeque. Morbi disputationi offendit adversarium gubergren singulis gravida detracto. Ligula feugait sumo ius nonumes habitant feugait.</p>
{% endblock %}