{% extends 'blog/blog.html.twig' %}

{% block title %}Création{% endblock %}

{% block h1 %}
    Écrire un article
{% endblock %}

{% block content_blog %}
    <h2>Création d'un article</h2>
    {{ include('blog/form.html.twig', {'formulaire': formulaire}) }}
{% endblock %}