{% extends 'blog/blog.html.twig' %}

{% block title %}{% trans %}Création{% endtrans %}{% endblock %}

{% block h1 %}
    {% trans %}Écrire un article{% endtrans %}
{% endblock %}

{% block content_blog %}
    <h2>{% trans %}Création d'un article{% endtrans %}</h2>
    {{ include('blog/form.html.twig', {'formulaire': formulaire}) }}
{% endblock %}