{% macro gen(article) %}
    <article>
        {# nom de l'article #}
        <a href="{{ path('blog_view', {'idArticle': article.id}) }}">Article {{ article.title }}</a>

        {# description #}
        <p>
            {{  article.content|u.truncate(article_max_chars) }}
        </p>
    </article>
{% endmacro gen %}