{% extends 'blog/blog.html.twig' %}

{% block title %}Modification{% endblock %}

{% block h1 %}
    Modifier un article
{% endblock %}

{% block content_blog %}
    <h2>Modification d'un article</h2>
    {{ form(formulaire) }}
{% endblock %}