{% extends 'blog/blog.html.twig' %}

{% block title %}{% trans %}Modification{% endtrans %}{% endblock %}

{% block h1 %}
    {% trans %}Modifier un article{% endtrans %}
{% endblock %}

{% block content_blog %}
    <h2>{% trans %}Modification d'un article{% endtrans %}</h2>
    {{ form(formulaire) }}
{% endblock %}