<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans %}Acceuil du site{% endtrans %}</title>
</head>
<body>
    <h1>{% trans %}Bienvenue !{% endtrans %}</h1>
    <a href="{{ path('blog_list') }}">Blog</a>
</body>
</html>


