<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
    </head>
    <body>
        {% block h1 %}{% endblock %}
        {% block menu %}{% endblock %}
        {% block left_menu %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>
