<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
    </head>
    <body>

        {# INTITULÉ DE LA PAGE #}
        <h1>{% block h1 %}Blog sur le développement symfony{% endblock %}</h1>

        {# MENU DE NAVIGATION #}
        <nav>
        {% block menu %}
            <a href="{{ path('base') }}">Acceuil</a>
            <a href="{{ path('blog_list') }}">Blog</a>
        {% endblock %}
        </nav>

        {# MESSAGES FLASH #}
        {% for msg in app.session.flashBag.get('info') %}
            <p>{{ msg }}</p>
        {% endfor %}

        <div style="display: flex">
            {# DERNIERS ARTICLES #}
            <ul style="padding: 0; margin: 0 40px 0 0; max-width: 250px;">
                <li><h2>Derniers articles</h2></li>
                {% block left_menu %}{{ include('last_articles.html.twig', {'nArticles': '3'}) }}{% endblock %}
            </ul>

            {# CONTENU DE LA PAGE #}
            <div style="right: 0">
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
