<ul>
    {% for article in articles %}
        <li><a href="{{ path('blog_view', {'idArticle': article.id}) }}">{{ article.title|u.truncate(article_title_preview_len) }}</a></li>
    {% else %}
        <li><p>Aucun article!</p></li>
    {% endfor %}
</ul>