<ul>
    {% for i in 1..nArticles %}
        <li><a href="{{ path('blog_view', {'idArticle': i}) }}">Article {{ i }}</a></li>
    {% else %}
        <li><p>Aucun article!</p></li>
    {% endfor %}
</ul>